<%- include('./partials/header.ejs') %>
<%- include('./partials/navbar.ejs') %>

<main>
    <div class="container">
        <h3>Comentários do post <%= comments[0].postId %></h3>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="table-responsive">
                    <table class="table table-dark table-hover">
                        <thead>
                            <tr>
                                <th>#id</th>
                                <th>Nome</th>
                                <th>E-mail</th>
                                <th>Comentário</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% comments.forEach(comment => { %>
                            <tr>
                                <td><%= comment.id %></td>
                                <td><%= comment.name %></td>
                                <td><%= comment.email %></td>
                                <td><%= comment.body %></td>
                            </tr>
                            <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>

<%- include('./partials/footer.ejs') %>